%h2=t('sign_in.header')
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  = f.input :email, :label => t('email'), :autofocus => true
  = f.input :password, :label => t('password')
  = f.input :remember_me, :label => t('sign_in.remember_me'), :as => :boolean if devise_mapping.rememberable?
  = f.button :submit, t('sign_in.submit'), :class => 'btn-primary'
= render "devise/shared/links"
